<!DOCTYPE html>
<html>
<head>
    <title>Сдача квартир</title>
</head>
<body>
    <h1>Сдача квартир</h1>
    <ul>
        {% for apartment in apartments %}
        <li>
            <a href="{% url 'apartment_detail' apartment.id %}">{{ apartment.title }}</a>
            - {{ apartment.price }}$
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'register' %}">Регистрация</a>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Сдача квартир</title>
</head>
<body>
    <h1>Сдача квартир</h1>
    <ul>
        {% for apartment in apartments %}
        <li>
            <a href="{% url 'apartment_detail' apartment.id %}">{{ apartment.title }}</a>
            - {{ apartment.price }} руб.
        </li>
        {% endfor %}
    </ul>
</body>
</html> -->
